/* native */
th {
	text-align: center;
}

iframe {
	width: 100%;
}

/* bootstrap */
.table {
	margin-bottom: 0;
	white-space: nowrap;
}

.navbar-brand * {
	font-size: 1em;
	padding: 0;
	margin: 0;
}

.label-group .label {
	border-radius: 0;
}

.label-group .label:first-child {
	border-radius: .25em 0 0 .25em;
}

.label-group .label:last-child {
	border-radius: 0 .25em .25em 0;
}

.label-pre {
	border-radius: .25em .25em 0 0;
}

.label-pre + pre {
	border-radius: 0 4px 4px 4px;
}

.page-header:first-child {
	margin-top: 0;
}

.page-header:first-child h2 {
	margin-top: 0;
}

/* app */
.icon {
	margin: -2px;
	height: 1em;
	vertical-align: baseline;
	display: inline;
}

.icon-circle {
	background: #FFF;
	border-radius: 50%;
	padding: .1em;
}

.list-group-child {
	text-indent: 2em;
}

.table-wrapper {
	width: 100%;
	margin-bottom: 20px;
}

.btn-twitter {
	background: #55ACEE;
	color: #FFF;
}

.btn-facebook {
	background: #3B5998;
	color: #FFF;
}

.btn-crowdworks {
	background: #0073C0;
	color: #FFF;
}

.btn-lancers {
	background: #256BB3;
	color: #FFF;
}

.img-box {
	position: relative;
}

.img-box-caption {
	position: absolute;
	background: rgba(0,0,0,.5);
	padding: 1em;
	color: #FFF;
	bottom: 0;
	width: 100%;
	text-align: center;
}

#page {
	margin-top: 80px;
}

#frame {
	height: 300px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	border: 10px solid #333;
}

#frame iframe {
	height: 100%;
	box-shadow: 0 0 5px rgba(0,0,0,.5) inset;
	border: none;
	padding: 5px;
	display: block;
}

#github-stars iframe {
	vertical-align: middle;
}

/* app-sm */
@media screen and (max-width: 991px){
	.table-wrapper {
		overflow-x: scroll;
	}
}

